# changes file
*.changes

# system image
*.image

# system sources
*.sources

# Pharo Smalltalk Debug log file
PharoDebug.log

# Squeak Smalltalk Debug log file
SqueakDebug.log

# Pharo files
/pharo-local
meta-inf.ston
pharo.version

# Monticello package cache
/package-cache

# Metacello-github cache
/github-cache
github-*.zip

# MacOS
.DS_Store
